@model ProyectoASPNET.Models.CuentaViewModel


<div class"container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h3>REGISTRO DE CUENTA</h3>
            <form asp-controller="Formulario" asp-action="Registrar" method="post">
                <table class="table table-danger">
                    <tr>
                        <td>Usuario</td>
                        <td><input asp-for="Cuenta.Usuario"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input asp-for="Cuenta.Password"></td>
                    </tr>
                    <tr>
                        <td>Descripción</td>
                        <td><textarea asp-for="Cuenta.Descripcion" cols="20" rows="5"></textarea></td>
                    </tr>
                    <tr>
                        <td>Disponibilidad</td>
                        <td><input type="checkbox" asp-for="Cuenta.Disponible"></td>
                    </tr>
                    <tr>
                        <td>Género</td>
                        <td>
                            <input type="radio" value="F" asp-for="Cuenta.Genero"> Femenino
                            <br>
                            <input type="radio" value="M" asp-for="Cuenta.Genero"> Masculino
                        </td>
                    </tr>
                    <tr>
                        <td>Lenguajes</td>
                        <td>
                            @for (var i = 0; i< Model.Lenguajes.Count;i++) { 
                                <input type="hidden" asp-for="@Model.Lenguajes[i].Id">
                                <input type="hidden" asp-for="@Model.Lenguajes[i].Nombre">
                                <input type="checkbox" asp-for="@Model.Lenguajes[i].estaTickeado">
                                <label asp-for="@Model.Lenguajes[i].Id">@Model.Lenguajes[i].Nombre</label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Cargo</td>
                        <td>
                            <select asp-for="Cuenta.Cargo" asp-items="@Model.Cargos"></select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="hidden" asp-for="Cuenta.Id"></td>
                        <td><input type="submit" value="Registrar"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>