
<h3>Ejemplos mostrando una lista de productos desde Base de Datos (EntityFramework)</h3>

<table class="table table-info">
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Precio</td>
        <td>Cantidad</td>
        <td>Estado</td>
    </tr>
    @foreach (var p in ViewBag.productos)

    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Nombre</td>
            <td>@p.Precio</td>
            <td>@p.Cantidad</td>
            <td>@p.Estado</td>
        </tr>

    }
</table>